<div id="title">
  <h1>
    {% if site.git %}
      <a href="{{site.git}}"><i class="fa fa-github" style="color:#fff;"></i></a>
    {% endif %}

    {% if site.stackoverflow %}
      <a href="{{site.stackoverflow}}"><i class="fa fa-stack-overflow" style="color:#fff;"></i></a>
    {% endif %}
    <a id="sitename" href="/">railsr.github.io</a>
  </h1>
<div style="block">
        
</div>
  <!-- Add something about you in p tag-->
  <p>Hello, my name is Kirill. And I'm trying to become a Ruby on Rails Developer.</p>
  <hr/>
  
  {% include nav-links.html %} 
  
</div>


