<div id="title">
  <h1>
    {% unless site.git == "" %}
		  <a id="git-ic" href="{{site.git}}"><i class="fa fa-github"></i></a>	
    {% endunless %}

    {% unless site.stackoverflow == "" %}
      <a id="so-ic" href="{{site.stackoverflow}}"><i class="fa fa-stack-overflow"></i></a>
    {% endunless %}
		
    <a id="sitename" href="{{site.baseurl}}">username.github.io</a>
  </h1>

  <!-- Add something about you in p tag-->
  <p>Write something about you here...</p>
  <hr/>
  
  {% include nav-links.html %} 
	 
</div>


