---
title: "blog"

---

{% if site.data.theme.compact %}
  <div class="posts compact">
    {% for post in site.posts  %}
    <div class="clearfix">
      <h3 class="pull-left">
        <a href="{{ post.url | prepend:site.baseurl }}">{{ post.title }}</a>
      </h3>
      <span class="text-muted pull-right">{{ post.date | date_to_string }}</span>
    </div>
    {% endfor %}
  </div>
{% else %}
  <div class="posts regular">
    {% for post in paginator.posts  %}
    <div>
      <h1>
        <a href="{{ post.url | prepend:site.baseurl }}">{{ post.title }}</a>
      </h1>
      {% include post-header.html %}
    </div>
    <div class="post-excerpt-home">
      {{ post.excerpt }}
    </div>
    {% endfor %}
  </div>
  
<div class="paginate" >
{% if paginator.total_pages > 1 %}
  {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' | replace: '/index.html', '/' }}"> <i class="fa fa-chevron-left"></i></a>
  {% else %}
    <span></span>
  {% endif %}

  {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
      <em>{{ page }}</em>
    {% elsif page == 1 %}
      <a href="{{ '/blog/' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
    {% else %}
      <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
    {% endif %}
  {% endfor %}

  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}"><i class="fa fa-chevron-right"></i></a>
  {% else %}

  {% endif %}

{% endif %}
</div>
{% endif %}
